@import "../../../../variables";



.search {
  width: 729px;
  height: 574px;
  padding-top: 60px;
  background-color: $search-background;

  .title {
    @include fontFamily300;
    font-size: $size-px30;
    line-height: $size-px35;
    color: $base-text-color;
  }

  .direction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;

    .input {
      @include inputView;

      &::placeholder {
        color: gray;
      }
    }

    .change {
      width: 24px;
      height: 24px;
      margin-top: 12px;
      padding: 0;

      &:active img{
        animation: rotateDirection 0.1s ease-out forwards;
      }
    }

    input, button:focus {
      @include disabledOutline;
    }
  }

  .range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
  }
}


