@import "../../../../variables";



.search {
  width: 729px;
  height: 574px;
  padding-top: 60px;
  background-color: $search-background;

  .title {
    @include fontFamily300;
    font-size: $size-px30;
    line-height: $size-px35;
    color: $base-link-color;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .direction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;

    .input {
      @include inputView;

      &::placeholder {
        color: gray;
      }
    }

    .change {
      width: 24px;
      height: 24px;
      margin-top: 12px;
      padding: 0;

      &:active img{
        animation: rotateDirection 0.1s ease-out forwards;
      }
    }

    input, button:focus {
      @include disabledOutline;
    }
  }

  .range {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 92px;
  }

  .button {
    margin-left: auto;
    width: 323px;
    height: 60px;
    color: $base-search-text-color;
    background: #FFA800;
  }
}


