@mixin fontFamily300 {
  font-style: normal;
  font-weight: 300;
}

$base-text-color: white;
$base-background-color: #E5E5E5;
$carousel-indicators-color: #E5E5E5;
$active-carousel-indicators-color: #C4C4C4;

$size-px30: 30px;
$size-px35: 35px;


